@media (max-width: 75em) {
  .main-div {
    padding: 2rem 10rem;
  }
}

@media (max-width: 59em) {
  .part-2 {
    display: flex;
    gap: 6rem;
    width: 100%;
    flex-direction: column;
  }

  .main-div {
    padding: 2rem 10rem;
  }

  /* mobile navigation */
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.966);
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    padding-left: 3rem;
    /* justify-content: center; */
    transition: all 0.5s ease-in;

    /* 1) Hide it visually */
    opacity: 1;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-list {
    font-size: 1.5rem;
    font-weight: 700;
  }
}

@media (max-width: 44em) {
  .part-1 {
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  .heading {
    padding-right: 6rem;
  }
}

@media (max-width: 34em) {
  .main-div {
    padding: 2rem 3rem;
  }

  .part-1-2 {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 1.5rem;
  }

  .part-1 {
    grid-template-columns: 1fr;
    gap: 8rem;
  }

  .parts {
    gap: 8rem;
  }
}
