* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

.main-div {
  padding: 2rem 20rem;
  display: flex;
  flex-direction: column;
}

.logo {
  zoom: 0.8;
}

.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  font-family: "Inter", sans-serif;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3rem;
  font-size: 1.5rem;
}

/* mobile nav */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 3.4rem;
  width: 3.4rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* part1 */

.web-3-img {
  /* max-width: 600px; */
  height: 250px;
  width: 100%;
}

.parts {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.part-1 {
  display: grid;
  grid-template-columns: 7fr 3fr;

  gap: 2rem;
}

.part-1-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1.5rem;
}

.heading {
  font-size: 3.5rem;
  font-weight: 800;
  font-family: "Inter", sans-serif;
  /* padding: 1rem; */
  padding-right: 8rem;
}

.heading-para {
  font-size: 1.4rem;
  font-family: "Inter", sans-serif;
  padding-bottom: 4rem;
  padding-top: 1.5rem;
  line-height: 2rem;
  color: hsl(236, 13%, 42%);
}

.readMore-btn {
  padding: 1rem 1.5rem;
  background-color: hsl(5, 85%, 63%);
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: hsl(36, 100%, 99%);
}

/* new-box */

.new-box {
  background-color: hsl(240, 100%, 5%);
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.new-box-heading {
  font-size: 3rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: hsl(35, 77%, 62%);
}

.new-heading {
  font-size: 1.8rem;
  font-family: "Inter", sans-serif;
  color: white;
  font-weight: 700;
}

.new-para {
  color: hsl(233, 8%, 79%);
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.3rem;
  font-family: "Inter", sans-serif;
  word-spacing: 0.1rem;
  line-height: 1.8rem;
}

.new-2,
.new-3 {
  padding-top: 2.5rem;
  border-top: 0.2rem solid hsl(236, 13%, 42%);
}

/* part 2 */

.part-2 {
  display: flex;
  gap: 6rem;
  width: 100%;
}

.part-2-sub-box {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.part-2-img {
  width: 8rem;
  height: 10rem;
  /* object-fit: cover; */
  height: 100%;
  /* width: 100%; */
}

.sub-box-description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sub-box-numbering {
  font-size: 3rem;
  font-family: "Inter", sans-serif;
  color: hsl(233, 8%, 79%);
  /* padding-bottom: 1rem; */
}

.sub-box-heading {
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  font-size: 400;
  line-height: 1.8rem;
  /* padding-bottom: 1rem; */
}

.sub-box-para {
  font-size: 1.5rem;
  color: hsl(236, 13%, 42%);
  font-family: "Inter", sans-serif;
}
